[Unit]
Description=Tizen IoT Connectivity

[Service]
Type=dbus
BusName=org.tizen.iotcon.dbus
ExecStart=/usr/bin/iotcon-daemon
Restart=on-failure
User=system
Group=system
SmackProcessLabel=iotcon

[Install]
WantedBy=multi-user.target
